# Ignore node_modules folder
node_modules/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store

# Ignore npm debug logs
npm-debug.log*

# Ignore build folders
dist/
build/

# Ignore local development files
*.local