{{#section "styles"}}
  <link rel="stylesheet" href="/css/register.css" />
{{/section}}

{{#section "scripts"}}
  <script type="module" src="/js/register.js"></script>
{{/section}}

<div class="register-container">
  <h1>Register Admin User</h1>
  
  <form id="register-form">
    <div class="form-group">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" name="email" required class="form-input" />
    </div>
    
    <div class="form-group">
      <label for="firstname" class="form-label">First Name:</label>
      <input type="text" id="firstname" name="firstname" required class="form-input" />
    </div>
    
    <div class="form-group">
      <label for="lastname" class="form-label">Last Name:</label>
      <input type="text" id="lastname" name="lastname" required class="form-input" />
    </div>
    
    <div class="form-row">
      <div class="form-group">
        <label for="street" class="form-label">Street:</label>
        <input type="text" id="street" name="street" required class="form-input" />
      </div>
      
      <div class="form-group">
        <label for="housenumber" class="form-label">House Number:</label>
        <input type="text" id="housenumber" name="housenumber" required class="form-input" />
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group">
        <label for="city" class="form-label">City:</label>
        <input type="text" id="city" name="city" required class="form-input" />
      </div>
      
      <div class="form-group">
        <label for="zipcode" class="form-label">Zip Code:</label>
        <input type="text" id="zipcode" name="zipcode" required class="form-input" />
      </div>
    </div>
    
    <div class="form-group">
      <label for="telephone" class="form-label">Telephone:</label>
      <input type="tel" id="telephone" name="telephone" required class="form-input" />
    </div>
    
    <div class="form-group">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" name="password" required class="form-input" />
      <div id="password-feedback" class="form-feedback"></div>
    </div>
    
    <div class="form-group">
      <label for="password-confirm" class="form-label">Confirm Password:</label>
      <input type="password" id="password-confirm" name="password-confirm" required class="form-input" />
    </div>
    
    <div class="admin-notice">
      <p><strong>Note:</strong> This user will be registered with administrative privileges.</p>
    </div>
    
    <button type="submit" class="submit-btn">Register Admin</button>
  </form>
</div>