name: Comment PR with API URL

on:
  push:
    branches:
      - experiment/___-test-google-clooud

jobs:
  comment-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get Cloud Run Service URL
        id: get-url
        run: |
          if [[ "${{ github.ref_name }}" == "development" ]]; then
            SERVICE="poke-market"
          elif [[ "${{ github.ref_name }}" == "main" ]]; then
            SERVICE="poke-market-prod"
          fi
          URL=$(gcloud run services describe $SERVICE --region us-central1 --project strong-ward-453503-f1 --format 'value(status.url)')
          echo "service_url=$URL" >> $GITHUB_OUTPUT
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}

      - name: Comment on PR
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const branch = "${{ github.ref_name }}";
            const serviceUrl = "${{ steps.get-url.outputs.service_url }}";
            const repo = context.repo.repo;
            const owner = context.repo.owner;

            const { data: pulls } = await github.rest.pulls.list({
              owner: owner,
              repo: repo,
              head: `${owner}:${branch}`,
              state: "open"
            });
            if (pulls.length > 0) {
              const prNumber = pulls[0].number;
              await github.rest.issues.createComment({
                owner: owner,
                repo: repo,
                issue_number: prNumber,
                body: `API updated! Access it here: ${serviceUrl}`
              });
            } else {
              console.log("No open PR found for this branch.");
            }
